<app-add-student (onAddClick)="pushNewStudent($event)"></app-add-student>
<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let item of students">
        <td scope="row">{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>
          <button (click)="showDetails(item.id)">Details</button>
          <button (click)="deleteStudent(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--  -->
  <!-- Binding Some Data From Parent to an INPUT inside Child Component to show it -->
  <!-- We will Wrap This Component in a div For the Hidding Flag  -->
  <div *ngIf="singleDetailFlag">
    <app-signle-student-details [singleStudent]="outPutStudentDetails" (onHideButtonClick)="toggleHide()"></app-signle-student-details>
  </div>
</div>
