<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let item of students">
        <td scope="row">{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>
          <button (click)="showDetails(item.id)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--  -->
  <!-- Binding Some Data From Parent to an INPUT inside Child Component to show it -->
  <app-signle-student-details [singleStudent]="outPutStudentDetails"></app-signle-student-details>
</div>
